<p class="back"><a routerLink="/search">Back to search</a></p>
<div class="row no-gutters actor">
    <div class="col-12 col-md-6" id="actordetails">
        <div class="card">
            <div class="card-body">
            <h2>{{ actor?.name }}</h2>
                <p class="placeofbirth" *ngIf="actor?.place_of_birth">
                    {{ actor?.place_of_birth }}
                </p>
                <p>
                    <span class="ball"></span>
                    <span class="mr-3"> {{ actor?.birthday | date:'mediumDate' }}</span>
                    <span class="ball black" *ngIf="actor?.deathday"></span>
                    {{ actor?.deathday | date:'mediumDate' }}
                </p>

                <div class="photo" *ngIf="actor?.picture; else noPicture">
                    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{ actor.picture }}" alt="{{ actor.name }}">
                    <a href="javascript:void(0)" (click)="goToPhotos()" class="btn seephotos">More photos</a>
                </div>

                <ng-template #noPicture>
                    <img src="assets/images/user.jpg" class="align-self-start mr-3">
                </ng-template>

                <div class="pop">
                    <p>popularity</p>
                    <div class="progress-bar" [style.width.%]="actor?.popularity * 10">{{ actor?.popularity }}</div>
                </div>

                <p class="mt-3 mb-2 bio">{{ actor?.biography }}</p>

                <p class="mt-3 mb-2">ID: {{ actor?.id }}</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6" id="actormovies">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Movies ({{ movieCount }})</h5>
            </div>
            <ul class="list-group list-group-flush" id="moviesin">
                <li class="list-group-item" *ngFor="let mov of actor?.movies">
                    <div class="media">
                        <img *ngIf="mov?.poster_path; else noPicture" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{ mov.poster_path }}" class="align-self-start mr-3" alt="{{ actor.name }}">
                        <ng-template #noPicture>
                            <img src="assets/images/reel.jpg" class="align-self-start mr-3">
                        </ng-template>
                        <div class="media-body">
                            <h4 class="mt-0">
                                <a routerLink="/title/{{ mov.id }}">{{ mov.title }}</a>
                            </h4>
                            <p class="text-black">{{ mov.character }}</p>
                            <p class="text-secondary" *ngIf="mov?.release_date">
                                {{ mov?.release_date | date:'mediumDate' }}
                            </p>

                            <div class="deceased" *ngIf="mov.ageDuringMovie == 999; else wasAlive">
                                Posthumous production
                            </div>

                            <ng-template #wasAlive>
                                <div class="age">
                                    <div class="years bg-success text-white">
                                        {{ mov.ageDuringMovie }}
                                    </div>
                                    <p class="text-success">yo</p>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<p class="back"><a routerLink="/search">Back to search</a></p>
<!--<pre><code style="color: #fff">
    {{ actor | json }}
</code></pre>-->
