<div class="searchpage">
    <div class="inputs">
        <div class="input-group input-group-lg" id="multisearch">
            <input class="form-control primary" id="mainSearch" type="text"
            [(ngModel)]="searchQuery"
            (keyup)="onSearch(searchQuery)"
            placeholder="Search for actor or title">

            <div class="input-group-append" *ngIf="totalResults">
                <span class="input-group-text primary">
                    {{totalResults}}
                </span>
            </div>
        </div>
    </div>
    <div class="results">
        <div class="list-group">
            <a
                href="javascript:void(0);"
                class="list-group-item list-group-item-action"
                *ngFor="let item of searchResults"
                [routerLink]="goToDetail(item.id, item.isPerson)">
                    <div class="media">
                        <img src="{{ item.picture}}" class="align-self-start mr-3" alt="{{ item.id }}">
                        <div class="media-body">
                            <h5 class="mt-0">{{ item.name }}</h5>
                            <!--{{ item | json }}-->
                        </div>
                    </div>
                </a>
        </div>
        <ul class="list-group empty" *ngIf="searchResults && searchResults.length === 0">
            <li class="list-group-item primary">
                <i>no results<span *ngIf="searchQuery && searchQuery.length < 3">. enter at least 3 characters</span></i>
            </li>
        </ul>
    </div>
</div>
<p class="text-center"><a href="/actor/287">Example actor</a></p>
<p class="text-center credits">
    <a target="_blank" href="https://www.themoviedb.org/documentation/api">TheMovieDB</a> /
    <a target="_blank" href="https://github.com/scsx/ActorsAgeInMovies">GitHub</a>
</p>
